# fly.toml app configuration file for achtung-registry
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'achtung-registry'
primary_region = 'arn'

[build]
image = 'registry:2'

[env]
REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY = '/var/lib/registry'
REGISTRY_AUTH_TOKEN_REALM = 'https://achtung.fly.dev/registry/token'
REGISTRY_AUTH_TOKEN_SERVICE = 'achtung-registry.fly.dev'
REGISTRY_AUTH_TOKEN_ISSUER = 'registry-auth'
REGISTRY_STORAGE_DELETE_ENABLED = 'true'
REGISTRY_HTTP_ADDR = '0.0.0.0:5000'

[[mounts]]
source = 'registry_data'
destination = '/var/lib/registry'
initial_size = '10gb'

[[services]]
internal_port = 5000
processes = ["app"]
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0
protocol = "tcp"

[[services.ports]]
handlers = ["http"]
port = 80

[[services.ports]]
handlers = ["http", "tls"]
port = 443

[[vm]]
size = 'shared-cpu-1x'
