# fly.toml app configuration file generated for achtung on 2025-08-24T21:31:33+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'achtung'
primary_region = 'arn'

[build]
dockerfile = '../apps/website/Dockerfile'

[env]
PORT = '80'

[http_service]
internal_port = 80
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
max_machines_running = 1
min_machines_running = 0
processes = ['app']

[[vm]]
size = 'shared-cpu-1x'
