[package]
name = "game-server"
version = "0.1.0"
edition = "2021"

[dependencies]
arcadio = { version = "0.1.1", path = "../../libs/arcadio" }
clap = { workspace = true }
tokio = { workspace = true }
