<aside>
    <nav class="bg-gray-100 w-20">
        <div class=" flex flex-col justify-between py-2 h-screen shadow-md">
            <div class="flex flex-col">

                <!-- Sidebar entry -->
                <a href="/"
                    class="flex flex-col items-center pt-1 pb-2 text-gray-800 block hover:bg-gray-200 hover:font-bold">
                    <i class="text-xl bi bi-tv"></i>
                    <span class="text-xs text-center
                    ">Live battle</span>
                </a>

            </div>
            <div class="flex flex-col">

                <!-- Sidebar entry -->
                <a href="/settings"
                    class="flex flex-col items-center pt-1 pb-2 text-gray-800 block hover:bg-gray-200 hover:font-bold">
                    <i class="text-xl bi bi-gear"></i>
                    <span class="text-xs text-center
                  ">Settings</span>
                </a>

            </div>
        </div>
    </nav>
</aside>