{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="text-center bg-white p-2 pb-10 rounded shadow-lg w-1/4 mx-auto mt-20">
  <h1 class="text-2xl font-semibold mt-4">Login</h1>
  <p class="mt-4">Please login to continue</p>

  {% if let Some(message) = message %}
  <span><strong>{{ message }}</strong></span>
  {% endif %}

  <form method="post">
    <input type="submit" value="Login with GitHub"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" />

    {% if let Some(next) = next %}
    <input type="hidden" name="next" value="{{next}}" />
    {% endif %}
  </form>

</div>

{% endblock %}