[package]
name = "website"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
async-trait = "0.1.86"
axum = "0.8.1"
axum-login = "0.17.0"
base32 = "0.5.1"
base64 = "0.22.1"
bcrypt = "0.17.1"
http = "1.0.0"
hyper = "1.0.1"
jsonwebtoken = { version = "10.2.0", features = ["hmac", "rust_crypto"] }
maud = { version = "0.27.0", features = ["axum"] }
oauth2 = "4.4.2"
prost = "0.13.5"
rand = "0.9.2"
reqwest = { version = "0.12.12", features = ["json"] }
rsa = { version = "0.9.9", features = ["pem"] }
serde = "1"
sha2 = "0.10.9"
sqlx = { version = "0.8.1", features = ["postgres", "time", "runtime-tokio"] }
thiserror = "2.0.0"
time = "0.3.30"
tokio = { version = "1.34.0", features = ["full"] }
tonic = "0.12.3"
tower = "0.5.2"
tower-http = { version = "0.6.2", features = ["fs"] }
tower-sessions-sqlx-store = { version = "0.15.0", features = ["postgres"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
uuid = { version = "1.18.1", features = ["v4"] }

[build-dependencies]
tonic-build = "0.12.3"
